        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                  <%= link_to "My Account", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                  <%= link_to 'New Course', new_course_path, class: 'btn btn-primary btn-block' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'New Guide', new_guide_path, class: 'btn btn-secondary btn-block' %>
              </li>
            </ul>


          </div>
        </nav>