<div class="home-bg">
  <div class="container">
    <div class="row">
               <div class='col-md-7'>

         </div> 
         <div class="col-md-5" id="welcome-card"> 
          <div class="card bg-light">
            <div class="card-body">
              <h4 class="card-title">Welcome to Inferno Camp!</h4>
              <p class="card-text">Currently we are only available to users of InfernoWorks.com and existing clients of Inferno Apps. If you fit one of these requirements and would like access please select the button below or sign in to get started!</p>
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
              <a href="#" class="btn btn-secondary">Request Access</a>
            </div>
          </div>
         </div>

    </div>
  </div>
</div>