$blue:  #437aa3 !default;
$red:   #f45951 !default;
$gray-100: #f0f0f0;
$primary: $blue;
$danger: $red !default;
$light: $gray-100;
@import "bootstrap";
@import "gritter";
@import "font-awesome";
.btn{
  border-radius: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}
.main-content{
  margin-top: 66px;
}
.navbar-toggler{
  border:none;
}
.navbar{
  -webkit-box-shadow: 0 1px 5px #454545;
  -moz-box-shadow: 0 1px 5px #454545;
  box-shadow: 0 1px 5px #454545;
}
.home-bg{
    background: url('/assets/campbg1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90.6vh;
}

#welcome-card{
  margin-top: 25vh;

}
#contact-card{
  margin-top: 10vh;
}
#welcome-card .btn{
  min-width: 148px;

}

.view-btn{
  margin-top: 15px;
}

.video-panel{
  width: 100%;
}

.show-page{
  margin-top: 100px;
}

.thumb_image{
  width: 100%;
  
}
.card img{
  max-width: 100%;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  z-index: 1030; /* Behind the navbar */
  padding: 0;
-webkit-box-shadow: 3px 4px 5px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow:    3px 4px 5px 0px rgba(50, 50, 50, 0.42);
box-shadow:         3px 4px 5px 0px rgba(50, 50, 50, 0.42);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
a:hover{
  text-decoration: none;
}

.form-control{
  border-radius: 0;
}
body{
  background-color: #fcfcfc;
}
.card{
  border-radius: 0;
}
.hidden{
  display: none;
}
@media (min-width:992px) {
    .mycourse {
        display:none !important;
    }
}
@media (max-width:992px) {
    .sidebar {
        display:none !important;
    }
}